.App-link {
  font-size: 20px; /* Adjust the size as per your requirement */
  padding: 10px 20px; /* Increase padding to make buttons larger */
  color: #61dafb;
  text-decoration: none;
  border: 1px solid #61dafb;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.App-link:hover {
  background-color: #61dafb;
  color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-cta {
  display: flex;
  gap: 20px;
}

